<h1>Your Profile</h1>

<%= form_for(@user, :html => {:roll => "form"}) do |f| %>
	<div class="form-group">
	<%= f.label :username %><br>
  <%= f.text_field :username, value: @user.username %><br>
  </div>
  <div class="form-group">
  <%= f.label :email %><br>
  <%= f.text_field :email, value: @user.email %><br>
  </div>
  <div class="form-group">
  <%= f.label "Where you commute to" %>:<br>
  <%= f.label "Street Address" %><br>
  <%= f.text_field :commute_address, @commute_value => @commute_place %><br>
  <%= f.label "City" %><br>
  <%= f.text_field :commute_city, @city_value => @city %><br>
  </div>
  <%= f.submit "Update" %>
<% end %>