<div class="row" style="margin-top: 70px;">
<div class="container">
	<div class="col-lg-12 ">
    <div class="title text-center">
      <h1>Your Favorites</h1>
      <hr/>
    </div>
  </div>
  <div class="row">
	<% if @user.favorites.size >= 1%><div class="pull-right"><h3>Average Buying Price: <%= @user.average_price_string %></h3><% end %></div>
	<br>
	</div>
	<div class="row">
	<% @user.neighborhoods.each do |neighborhood| %>
		<div class="col-md-4" style='padding: 0; background-image: url("<%= image_url(neighborhood.photo_url)%>"); background-size: cover; background-position: center; background-repeat: no-repeat; height: 270px;'>
			<h5 style='color: black; background:rgba(55,55,55,.7); margin: 0; width: 100%; padding: 10px;'><%= link_to "#{neighborhood.name}, #{neighborhood.borough}", neighborhood_path(neighborhood) %> <%= link_to "unfavorite", favorite_path(@user.get_favorite_by_neighborhood(neighborhood)), method: :delete, :class => "btn btn-xs btn-primary pull-right" %></h5>
		</div>
	<% end %>
	</div>
	<% if @user.favorites.size >= 1%>
	<h3>Neighborhoods Similar in Price</h3>
	<div class="row">
	<% @user.similar_to_favorites_by_price.each do |neighborhood| %>
		<div class="col-md-3" style='padding: 0; background-image: url("<%= image_url(neighborhood.user_favorite_photo_url)%>"); background-size: cover; background-position: center; background-repeat: no-repeat; height: 270px;'>
			<h5 style='color: black; background:rgba(55,55,55,.7); margin: 0; width: 100%; padding: 10px;'><%= link_to "#{neighborhood.name}, #{neighborhood.borough}", neighborhood_path(neighborhood) %></h5>
		</div>
	<% end %>
	</div>
	<% end %>
</div>	
</div>