<div class="row" style="margin-top: 70px;">
<div class="container">
	<div class="col-lg-12 ">
    <div class="title text-center">
      <h1>Your Favorites</h1>
      <hr/>
    </div>
  </div>
  <div class="row" style="margin-top:-20px">
	<% if @user.favorites.size >= 1%>
	<div class="pull-right">
	<% if @user.want_to_buy %>
	<h3>Average Buying Price: <%= @user.average_price_string(@user.average_buy_price_of_favorites) %></h3>
	<% end %>
	<% if @user.want_to_rent %>
	<h3>Average Rental Price: <%= @user.average_price_string(@user.average_rent_price_of_favorites) %></h3>
	<% end %>
	</div>
	<% end %>
	
	<br>
	</div>
		<div class="row">
	<% @user.neighborhoods.each do |neighborhood| %>
		<div class="col-md-4" style='padding: 0; background-image: url("<%= image_url(neighborhood.photo_url)%>"); background-size: cover; background-position: center; background-repeat: no-repeat; height: 270px;'>
			<h5 style='color: black; background:rgba(55,55,55,.7); margin: 0; width: 100%; padding: 10px;'><%= link_to "#{neighborhood.name}, #{neighborhood.borough.name}", neighborhood_path(neighborhood) %> <%= link_to "♥", favorite_path(@user.get_favorite_by_neighborhood(neighborhood)), method: :delete, :class => "btn btn-xs btn-primary pull-right" %></h5>
		</div>
	<% end %>
	</div>
	<% if @user.favorites.size >= 1%>
		<% if @user.want_to_buy %>
			<h3>Neighborhoods Similar in Ownership Price</h3>
			<div class="row">
			<% @user.similar_to_favorites_buy_price.each do |neighborhood| %>
				<div class="col-md-2" style='padding: 0; background-image: url("<%= image_url(neighborhood.photo_url)%>"); background-size: cover; background-position: center; background-repeat: no-repeat; height: 270px;'>
					<h5 style='color: black; background:rgba(55,55,55,.7); margin: 0; width: 100%; padding: 10px;'><%= link_to "#{neighborhood.name}, #{neighborhood.borough.name}", neighborhood_path(neighborhood) %></h5>
				</div>
			<% end %>
			</div>
		<% end %>
		<% if @user.want_to_rent %>
			<h3>Neighborhoods Similar in Rent</h3>
			<div class="row">
			<% @user.similar_to_favorites_rent_price.each do |neighborhood| %>
				<div class="col-md-2" style='padding: 0; background-image: url("<%= image_url(neighborhood.photo_url)%>"); background-size: cover; background-position: center; background-repeat: no-repeat; height: 270px;'>
					<h5 style='color: black; background:rgba(55,55,55,.7); margin: 0; width: 100%; padding: 10px;'><%= link_to "#{neighborhood.name}, #{neighborhood.borough.name}", neighborhood_path(neighborhood) %></h5>
				</div>
		<% end %>
		</div>
		<% end %>
	<% end %>
	<%if @user.min_buy_price && @user.max_buy_price && (@user.want_to_buy || @user.want_to_buy == @user.want_to_rent) %>

			<div class="row">
			<h3>Neighborhoods In Your Buy Price Range</h3>
			
			<% @user.in_buy_price_range.each do |neighborhood| %>
				<% if @user.liked_boroughs.include?(neighborhood.borough) %>
				<div class="col-md-2" style='padding: 0; background-image: url("<%= image_url(neighborhood.photo_url)%>"); background-size: cover; background-position: center; background-repeat: no-repeat; height: 270px;'>
					<h5 style='color: black; background:rgba(55,55,55,.7); margin: 0; width: 100%; padding: 10px;'><%= link_to "#{neighborhood.name}, #{neighborhood.borough.name}", neighborhood_path(neighborhood) %></h5>
				</div>
				<% end %>
			<% end %>
			</div>

	<% end %>

	<%if @user.min_rent_price && @user.max_rent_price && (@user.want_to_rent || @user.want_to_buy == @user.want_to_rent) %>

			<div class="row">
			<h3>Neighborhoods In Your Rental Price Range</h3>
			
			<% @user.in_rental_price_range.each do |neighborhood| %>
				<% if @user.liked_boroughs.include? neighborhood.borough %>
					<div class="col-md-2" style='padding: 0; background-image: url("<%= image_url(neighborhood.photo_url)%>"); background-size: cover; background-position: center; background-repeat: no-repeat; height: 270px;'>
						<h5 style='color: black; background:rgba(55,55,55,.7); margin: 0; width: 100%; padding: 10px;'><%= link_to "#{neighborhood.name}, #{neighborhood.borough.name}", neighborhood_path(neighborhood) %></h5>
					</div>
				<% end %>
			<% end %>
			</div>

	<% end %>
</div>	
</div>
<div class="credits text-center" style="
    bottom:0; text-align:center; width:100%; background-color: rgba(255, 255, 255, 0.5);">Made with <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color:red;"></span> At <a href="http://www.flatironschool.com" target="_blank" style="text-decoration:none;">The Flatiron School</a>, NYC  
</div>