<h1>WELCOME TO NYC!</h1>

<select id="borough-selection">
  <option value="hasnt-been-chosen">SELECT A BOROUGH</option>
  <option value="Manhattan">MANHATTAN</option>
  <option value="Brooklyn">BROOKLYN</option>
  <option value="Queens">QUEENS</option>
</select>

<div class="neighborhood-dropdown" id="manhattan-dropdown">
  <%= form_for(@neighborhood) do |f| %>
    <%= f.collection_select :id, @manhattan_neighborhoods,:id,:name, {:prompt => "SELECT A MANHATTAN NEIGHBORHOOD"} %>
      <%= f.submit value: "LET'S SEE THE BUZZ", :class => "see-buzz btn disabled" %>
  <% end %>
</div>

<div class="neighborhood-dropdown" id="brooklyn-dropdown">
  <%= form_for(@neighborhood) do |f| %>
    <%= f.collection_select :id, @brooklyn_neighborhoods,:id,:name, {:prompt => "SELECT A BROOKLYN NEIGHBORHOOD"}%>
    <%= f.submit value: "LET'S SEE THE BUZZ", :class => "see-buzz btn disabled" %>
  <% end %>
</div>

<div class="neighborhood-dropdown" id="queens-dropdown">
  <%= form_for(@neighborhood) do |f| %>
    <%= f.collection_select :id, @queens_neighborhoods,:id,:name, {:prompt => "SELECT A QUEENS NEIGHBORHOOD"}%>
    <%= f.submit value: "LET'S SEE THE BUZZ", :class => "see-buzz btn disabled" %>
  <% end %>
</div>