	    <!-- BEGIN About -->
    <section id="about" class="about">
        <div class="slider-about-wrapper parallaxize" style="background:url('../images/about-us-background.jpg');">
            <div class="slider-about">
                <div class="container">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-lg-12 slide-text-wrapper">
                                <div class="slide-text">
                                    WE ARE
                                    <span class="rotatez">AWESOME,CREATIVES,FANTASTIC,PROFESSIONAL</span>&nbsp;AGENCIES
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team">
            <div class="container">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-lg-12 animaze fromTop">
                            <div class="title text-center">
                                <h1>STAFF TEAM</h1>
                                <hr/>
                            </div>
                        </div>
                        <div class="col-lg-12 animaze fromBottom">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit.
                            </p>
                            <div class="row">
                                <div class="col-lg-4 animaze fromBottom">
                                    <div class="cprofile">
                                        <div class="lightbox-item">
                                            <img src="../images/about-us-avatar-2.jpg" alt="Project Name 2">
                                            <div class="lightbox-item-overlay-content"><a class="preview popup" href="../images/about-us-avatar-2.jpg" data-fancybox-group="pf-gallery" title="Your Name"><i class="icon-search"></i></a><a class="permalink" href="mailto:email@email.com" target="_blank"><i class="icon-envelope-alt"></i></a>
                                            </div>
                                        </div>
                                        <h3>John Doe</h3>
                                        <span>Manager/CEO</span>
                                        <p>Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum</p>
                                        <a href="javascript:;"><i class="icon-facebook icon-mini"></i></a>
                                        <a href="javascript:;"><i class="icon-twitter icon-mini"></i></a>
                                    </div>
                                </div>
                                <div class="col-lg-4 animaze fromTop">
                                    <div class="cprofile">
                                        <div class="lightbox-item">
                                            <img src="images/about-us-avatar-1.jpg" alt="Project Name 2">
                                            <div class="lightbox-item-overlay-content"><a class="preview popup" href="images/about-us-avatar-1.jpg" data-fancybox-group="pf-gallery" title="Your Name"><i class="icon-search"></i></a><a class="permalink" href="mailto:email@email.com" target="_blank"><i class="icon-envelope-alt"></i></a>
                                            </div>
                                        </div>
                                        <h3>Marmut Nakall</h3>
                                        <span>Manager/CEO</span>
                                        <p>Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum</p>
                                        <a href="javascript:;"><i class="icon-facebook icon-mini"></i></a>
                                        <a href="javascript:;"><i class="icon-twitter icon-mini"></i></a>
                                    </div>
                                </div>
                                <div class="col-lg-4 animaze fromTop">
                                    <div class="cprofile">
                                        <div class="lightbox-item">
                                            <img src="images/about-us-avatar-2.jpg" alt="Project Name 2">
                                            <div class="lightbox-item-overlay-content"><a class="preview popup" href="images/about-us-avatar-2.jpg" data-fancybox-group="pf-gallery" title="Your Name"><i class="icon-search"></i></a><a class="permalink" href="mailto:email@email.com" target="_blank"><i class="icon-envelope-alt"></i></a>
                                            </div>
                                        </div>
                                        <h3>Michael Moez</h3>
                                        <span>Manager/CEO</span>
                                        <p>Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum</p>
                                        <a href="javascript:;"><i class="icon-facebook icon-mini"></i></a>
                                        <a href="javascript:;"><i class="icon-twitter icon-mini"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END About -->
<div class="row">

	<h1 class="col-md-8"><%= @neighborhood.name %></h1>
	<h1 class="col-md-4">

	<div class="favorite-button-wrapper">
		<% if @favorite_id %>
			<%= render :partial => "remove_favorite_button", :locals => {:favorite_id => @favorite_id} %>
		<% else %>
			<%= render :partial => "add_favorite_button", :locals => {:user => @user, :neighborhood => @neighborhood} %>
		<% end %>
	</div>

	</h1>
	</div>




	<div class="row">

		<div class="col-md-3">
			<h3>Typical Buying Price: <%= @neighborhood.median_buy_price_string %></h3>
			<h3>Median Monthly Rent: <%= @neighborhood.median_rental_price %></h3>

			<h3>New Listings:</h3>

			<%= image_tag("#{@neighborhood.noko_img_url_1}" ) %><br>
			<%= link_to("View This Listing", @neighborhood.noko_listing_url_1, :target => "_blank") %><br>
			<p>Monthly Rent: <%= @neighborhood.noko_monthly_rent_1 %></p><br>

			<%= image_tag("#{@neighborhood.noko_img_url_2}") %><br>
			<%= link_to("View This Listing", @neighborhood.noko_listing_url_2, :target => "_blank") %><br>
			<p>Monthly Rent: <%= @neighborhood.noko_monthly_rent_2 %></p><br>

			<%= image_tag("#{@neighborhood.noko_img_url_3}") %><br>
			<%= link_to("View This Listing", @neighborhood.noko_listing_url_3, :target => "_blank") %><br>
			<p>Monthly Rent: <%= @neighborhood.noko_monthly_rent_3 %></p>

			<%= link_to("More Listings", @neighborhood.noko_search_url, :target => "_blank") %>
		</div>

		<div class="col-md-3">
			<h3 class="pull-right">Recommended Bars</h3>
			<ul>
				<% @neighborhood.bars.each do |bar| %>
					<h4><%= link_to bar.name, bar.url, :target => "_blank" %></h4>
					<%= image_tag("#{bar.stars_img}", height: "15", width: "75") %><br>
					<%= bar.address %><br>
				<% end %>
			</ul>
			<h3 class="pull-right" style="padding-left:35px;">Recommended Restaurants</h3>
			<ul>
				<% @neighborhood.restaurants.each do |restaurant| %>
					<h4><%= link_to restaurant.name, restaurant.url, :target => "_blank" %></h4>
					<%= image_tag("#{restaurant.stars_img}", height: "15", width: "75") %><br>
					<%= restaurant.address %><br>
				<% end %>
			</ul>
		</div>

		<% if @neighborhood.get_tweets %>
			<div class="col-md-3">
				<h3>What People Are Saying About <span class="neighborhood-name"><%= @neighborhood.name %></span></h3>
				<% @neighborhood.get_tweets.each do |tweet| %>
					<blockquote class="twitter-tweet" lang="en" data-cards="hidden">
						<a href="<%= tweet.url %>"></a>
					</blockquote>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				<% end %>
			</div>
		<% end %>

		<div class="col-md-3">
			<% if @user.persisted? && @user.commute_address %>
				<iframe id="google-map"
		    	frameborder="0" style="border:0"
		    	src="<%=@neighborhood.get_google_directions(@user.commute_address)%>">
		  	</iframe>
		  <% else %>
		  	<div id="map_canvas"></div>
		  <% end %>
		</div>

	</div>

	<script type="text/javascript">
	  $(function(){
	    var gmap = new GMap();
	    gmap.codeAddress(gmap.address);
	  });
	</script>