<h1><%= @neighborhood.name %></h1>
<div class="row">
	<div class="col-md-6">
		<h3>Average Sale Price: <%= @neighborhood.find_50th_percentile %></h3>


		<h3>Sample 2 Bedroom Rental:</h3>

		<p>Monthly Rent: <%= @noko[:monthly_rent] %></p>
		<%= image_tag("#{@noko[:img_url]}") %><br>
		<%= link_to("View This Listing", @noko[:listing_url]) %>
	</div>

	<div class="col-md-6">
		<h3>Top Three Bars</h3>
		<ul>
			<% @neighborhood.get_yelp_top_three_bars.each do |bar| %>
				<h4><%= link_to bar[:name], bar[:url] %></h4>
				<%= image_tag("#{bar[:stars_img]}", height: "15", width: "75") %><br>
				<%= bar[:address] %><br>
			<% end %>
		</ul>
		<h3>Top Three Restaurants</h3>
		<ul>
			<% @neighborhood.get_yelp_top_three_restaurants.each do |restaurant| %>
				<h4><%= link_to restaurant[:name], restaurant[:url] %></h4>
				<%= image_tag("#{restaurant[:stars_img]}", height: "15", width: "75") %><br>
				<%= restaurant[:address] %><br>
			<% end %>
		</ul>

	</div>
</div>