<div class="row">
	<h1 class="col-md-8"><%= @neighborhood.name %></h1>
	<h1 class="col-md-4">

  <% if @favorite_id %>

    <%= button_to "Remove Favorite", favorite_path(@favorite_id), method: :delete, :class => "btn btn-success pull-right"  %>

  <% else %>

	 <%= button_to "Add Favorite", favorites_path, params: {"favorite[user_id]" => @user.id, "favorite[neighborhood_id]" => @neighborhood.id}, :class => "btn btn-success pull-right"  %>

  <% end %>

	</h1>
</div>
<div class="row">
	<div class="col-md-4">
		<h3>Typical Buying Price: <%= @neighborhood.find_50th_percentile %></h3>


		<h3>Sample 2 Bedroom Rental:</h3>

		<p>Monthly Rent: <%= @noko[:monthly_rent] %></p>
		<%= image_tag("#{@noko[:img_url]}") %><br>
		<%= link_to("View This Listing", @noko[:listing_url]) %><br>
		<%= link_to("More Listings", @noko[:search_url]) %>

	</div>

	<div class="col-md-4">
		<h3>Recommended Bars</h3>
		<ul>
			<% @neighborhood.get_yelp_top_three_bars.each do |bar| %>
				<h4><%= link_to bar[:name], bar[:url] %></h4>
				<%= image_tag("#{bar[:stars_img]}", height: "15", width: "75") %><br>
				<%= bar[:address] %><br>
			<% end %>
		</ul>
		<h3>Recommended Restaurants</h3>
		<ul>
			<% @neighborhood.get_yelp_top_three_restaurants.each do |restaurant| %>
				<h4><%= link_to restaurant[:name], restaurant[:url] %></h4>
				<%= image_tag("#{restaurant[:stars_img]}", height: "15", width: "75") %><br>
				<%= restaurant[:address] %><br>
			<% end %>
		</ul>

	</div>

	<div class="col-md-4">
		<h3>What People Are Saying About <%= @neighborhood.name %></h3>
		<% @neighborhood.get_tweets.each do |tweet| %>
			<blockquote class="twitter-tweet" lang="en">
				<a href="<%= tweet.url %>"></a>
			</blockquote>
			<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		<% end %>
		
	</div>


</div>





