<!DOCTYPE html>
<html>
<head>
  <title>NeighborhoodBuzz</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>
<body>
	<nav id="navbars" class="navbar navbar-default navbar-fixed-top" roll="navigation">
 <!--    <div class="wrapper"> -->
      <div class="collapse navbar-collapse">
        <div class="navbar-header col-md-3">
          <h1><%= link_to("Neighborhood Buzz", neighborhoods_path, class: "navbar-brand") %></h1>
        </div>
          <div class="col-md-3 nav navbar-nav">
            <% if session[:user_id] %>
                <h5><%= link_to("Hello #{@user.username}. See your favorites.", user_path(@user))  %></h5>
                <h5><%= link_to("Logout", logout_path) %></h5>
            <% end %>
          </div>


            <div class="col-md-3 nav navbar-nav">
              <li class="nav-stacked">
                <%= form_for(User.new, :html => {:class => "navbar-form"}) do |f| %>
                    <%= f.text_field :username, placeholder: "username" %>
                    <%= f.text_field :email, placeholder: "email address" %>
                    <%= f.text_field :commute_address, placeholder: "where do you work?" %>
                  <li class="navbar-btn">
                    <%= f.submit "Sign Up" %>
                  </li>
                <% end %>
              </li>
            </div>

 <!--          <div id="navbar" class=""> -->
          <div class="col-md-3 nav navbar-nav">
            <li>
              <%= form_tag(sessions_path, :class => "navbar-form", :roll => "form") do %>
                <input type="text" name="username" placeholder="username" />
                <input class="navbar-btn" name="commit" type="submit" value="Sign In">

              <% end %>
            </li>
          </div>
<!--         </div> -->
      </div>
      </div>
<!--     </div> -->
  </nav>



  <div class="container">

    <div id="alert">
        <% if flash[:notice] %>
           <div class="alert alert-warning"><%= flash[:notice] %></div>
        <% end %>
    </div>
		<%= yield %>

	</div>
</body>
</html>